<!DOCTYPE html>
<html>
  <head>
    <title>SuperVoices | Locutores para tus anuncios</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  		<%= yield %>
  <body>
  </body>
</html>
